html:not(.mobile-view) {

  /***** Expand main view to whole width *****/
  .wrap {
    max-width:none;
    padding-left: 0em;
    padding-right: 0em;
  }

  /***** Padding for discovery page bottom *****/
  .bottom-content{
    padding-left: 4em;
    padding-right: 4em;
  }
  /***** Padding for search page *****/
  .search-container{
    padding-left: 4em;
    padding-right: 4em;
  }

  /***** remove gap top of banner *****/
  #main-outlet{
    padding-top: 63px;
  }

  /***** Padding for topic page bottom *****/
  .topic-bottom-content{
    padding-left: 8em;
    padding-right: 4em;
    margin: auto;
    width: 70%;
  }

  /***** Padding for admin page bottom *****/
  .full-width{
    padding-left: 4em;
    padding-right: 4em;
  }

  /****  Middle Search Box *****/
  .new-search-box{
    text-align: center;
    padding-left: 250px;
    margin-top: -35px;
  }
  input#search-term{
    width: 650px;
    display: inline-block;
    text-align: left;
    height: 30px;
  }

  /****  Shift magnifying glass search icon left *****/
  .panel-body-contents > a {
    margin-left: -30px;
  }

  /***** Icons (top right) hidden *****/
  li.header-dropdown-toggle{
    //disply: none;
    visibility: hidden;
  }
  /***** User icon visible *****/
  li#current-user{
    visibility: visible;
  }

  //i.fa.fa-search{
  //  disply: none;
  //  visibility: hidden;
  //}
  //
  //a#search-button{
  //  disply: none;
  //  visibility: hidden;
  //}
  //
  //li.header-dropdown-toggle > i.fa.fa-bars{
  //  display: none;
  //  //visibility: hidden;
  //}
  //li.header-dropdown-toggle > img.avatar{
  //  display: none;
  //  //visibility: hidden;
  //}

  /***** Admin alert banner *****/
  .alert.alert-info.alert-too-few-topics{
    display: none;
  }
  .alert.alert-info.alert-bootstrap-mode{
    display: none;
  }
  .alert.alert-info{
    display: none;
  }

  /***** Sign up button top right *****/
  button.widget-button.btn-primary.btn-small.sign-up-button{
    display: none;
  }

  /***** Log in button top right *****/
  button.widget-button.btn-primary.btn-small.login-button{
    margin-right: -40px;
  }

  /***** Header small logo on the left *****/
  img#site-logo{
    padding-top: 12px;
    width: 175px;
    padding-left: 4em;
  }
  ///***** Shift header logo to right *****/
  //.d-header .title{
  //  padding-left: 4em;
  //}

}

///***** Padding for topic page bottom *****/
//.topic-bottom-content{
//  margin: auto;
//  width: 70%;
//}
